ion-content {
  &::part(scroll) {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  --background: rgb(251, 238, 212);

  h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: rgb(105, 49, 37);
  }

  .card {
    margin-top: 20px;
    background-color: rgb(204, 141, 118);
    border: 1px solid rgb(185, 112, 66);
    border-radius: 8px;
    padding: 8px;

    display: flex;
    gap: 20px;

    .icon {
      font-size: 40px;
    }
    .data {
      position: relative;
      width: 100%;
      h2, p {
        margin: 0;
      }

      .more {
        position: absolute;
        top: 16px;
        right: 16px;
      }

      h2 {
        margin-bottom: 4px;
        color: rgb(185, 112, 66);
        font-weight: 600;
        letter-spacing: 0.60px;
        font-size: 22px;
      }
    }
  }

  h3 {
    color: rgb(185, 112, 66);
    font-size: 28px;
    font-weight: 700;
  }

  .items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

}


.filteres {
  display: flex;
  align-items: center;
  gap: 10px;
  .filter {
    background-color: rgb(204, 141, 118);
    border-radius: 12px;
    padding: 4px 12px;
    color: #fcedd2;
    font-weight: 500;

    &.activate {
      background-color: rgb(191, 128, 84);
    }
  }
}
