<main-header title="Visualização"></main-header>
<ion-content>
  @if (product) {
    <div class="card">
      <ion-icon class="icon" name="cube-outline" />
      <div class="data">
        <ion-icon class="more" style="margin-left: auto;" name="ellipsis-vertical" />
        <h2>{{ product.name }}</h2>
        <p><strong>Descrição</strong> {{ product.description }}</p>
        <p><strong>Ativo</strong> {{ product.isActivated ? 'Sim': 'Não'}}</p>
        <p><strong>Cadastrado </strong> {{ product.createdAt! | date: 'dd/mm/yy' }}</p>
        <p><strong>Preço</strong> R$ 0,00</p>
        <p><strong>Movimentações </strong> 0</p>
      </div>
    </div>
  }

  <h3>Movimentações</h3>
  <div class="items">
    <div class="filteres">
      <div class="filter activate">Todas</div>
      <div class="filter">Entradas</div>
      <div class="filter">Saidas</div>
      <div class="filter">Vencidos</div>
    </div>

    <item-movement *ngFor="let item of [].constructor(5)" [movement]="movementMock"></item-movement>
    <item-movement *ngFor="let item of [].constructor(5)" [movement]="movementMockLeave"></item-movement>
  </div>
</ion-content>
