
%flex-col {
  display: flex;
  flex-direction: column;
}

.list-wrapper {
  background-color: rgb(204, 141, 118);
  padding: 8px;
  @extend %flex-col;
  gap: 16px;
  border-radius: 8px;


  ion-segment {
    --background: rgb(105, 49, 37);

    ion-segment-button {
      font-weight: 700;
      &::part(indicator-background) {
        background: rgb(191, 128, 84);
      }

      --color: #fff;
      --color-checked: rgb(105, 49, 37);
      // --border-radius: 20px;
    }
  }

  .items {
    @extend %flex-col;
    gap: 8px;
    .item {
      display: flex;
      gap: 8px;

      .data {
        width: 100%;
        @extend %flex-col;
        gap: 2px;
      }
    }
  }
}
