<ion-content>
  <div class="items">
    @if (movements$ | async; as movements) {
      @for (movement of movements; track $index) {
        <item-movement
          [movement]="movement"
        ></item-movement>
      }
    } @else {
      <item-product-skeleton *ngFor="let item of [].constructor(5)"></item-product-skeleton>
    }
  </div>
  <ion-fab style="position: absolute; bottom: 15%; right: 16px; z-index: 10000;">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
