ion-content {
  --background: rgb(251, 238, 212);
  &::part(scroll) {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: rgb(105, 49, 37);
  }

  .row {
    display: flex;
    align-items: center;
    gap: 10px;
  }

}
