<main-header title="Produto"></main-header>
<ion-content>
  <h1>Editar Produto</h1>
  <custom-input
    [requiredNote]="true"
    [label]="'Nome'"
    [control]="getControl('name')"
  />
  <custom-input
    [requiredNote]="true"
    [label]="'Descrição'"
    [control]="getControl('description')"
  />
  <!-- TODO: Colocar ML Kit Barcode Scanning -->
  <custom-input
    [requiredNote]="true"
    [label]="'Codigo de barra'"
    [icon]="{ src: false, value: 'barcode-outline'}"
    [control]="getControl('barCode')"
  />
  <custom-select
    [requiredNote]="true"
    [label]="'Categoria'"
    [options]="options"
    [optionValue]="'id'"
    [optionLabel]="'name'"
    [control]="getControl('categoryId')"
  />
  <ion-button
    (click)="submit()"
    [disabled]="form.invalid"
    class="custom"
  >Salvar</ion-button>
</ion-content>
