ion-content {
  &::part(scroll) {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  --background: rgb(251, 238, 212);

  .items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
