<ion-content>
  <div class="items">
    @if (products$ | async; as products) {
      @for (product of products; track $index) {
        <item-product
          [product]="product"
        ></item-product>
      }
    } @else {
      <item-product-skeleton *ngFor="let item of [].constructor(5)"></item-product-skeleton>
    }
  </div>
  <ion-fab style="position: absolute; bottom: 15%; right: 16px; z-index: 10000;">
    <ion-fab-button (click)="createProduct()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
