ion-content {
  &::part(scroll) {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  --background: rgb(251, 238, 212);

  .actions {
    padding: 8px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;

    background-color: rgb(204, 141, 118);
    border-radius: 8px;
  }
}
