.item-product {
  display: flex;
  gap: 10px;
  background-color: rgb(204, 141, 118);
  align-items: center;

  border-radius: 10px;
  padding: 10px;

  .row {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  h2, p { margin: 0; }
  h2 {
    font-size: 18px;
    font-weight: 500;
    color: rgb(105, 49, 37);
  }
  p {
    font-size: 14px;
    color: #fcedd2;
  }

  .more {
    position: relative;
    z-index: 1000;
  }
}
